<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Seleccione el tema</h3>
                <div class="r-panel-body">
                    <ul  id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #tema (click)="colorTheme(tema)" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #tema2 (click)="colorTheme(tema2)" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #tema3 (click)="colorTheme(tema3)" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #tema4 (click)="colorTheme(tema4)" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #tema5 (click)="colorTheme(tema5)" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #tema6 (click)="colorTheme(tema6)" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #tema7  (click)="colorTheme(tema7)"data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #tema8  (click)="colorTheme(tema8)"data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #tema9  (click)="colorTheme(tema9)"data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #tema10 (click)="colorTheme(tema10)"data-theme="blue-dark" class="selector blue-dark-theme ">10</a></li>
                        <li><a #tema11 (click)="colorTheme(tema11)"data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #tema12 (click)="colorTheme(tema12)"data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>